secret.properties
_release_keys_
NotePad_ant
NotePad_ant/*
.factorypath
bin/
build/
.gradle
gen/
NotePad.apk
Notes_for_ICS_Market_Link.png
icon/
proguard/
.apt_generated
.settings*
translate-temp/
*~
*iml
.idea
local.properties
