[submodule "drag-sort-listview"]
	path = drag-sort-listview
	url = https://github.com/spacecowboy/drag-sort-listview.git
[submodule "wizardpager"]
	path = wizardpager
	url = git://github.com/spacecowboy/wizardpager.git
[submodule "Android-ViewPagerIndicator"]
	path = Android-ViewPagerIndicator
	url = git://github.com/JakeWharton/Android-ViewPagerIndicator.git
[submodule "ShowcaseView"]
	path = ShowcaseView
	url = git://github.com/Espiandev/ShowcaseView.git
[submodule "NineOldAndroids"]
	path = NineOldAndroids
	url = git://github.com/JakeWharton/NineOldAndroids.git
[submodule "android-betterpickers"]
	path = android-betterpickers
	url = git://github.com/spacecowboy/android-betterpickers.git
[submodule "android-times-square"]
	path = android-times-square
	url = git://github.com/spacecowboy/android-times-square.git
