<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2012 Jonas Kalderstam

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<!--
     Declare the contents of this Android application.  The namespace
     attribute brings in the Android platform namespace, and the package
     supplies a unique name for the application.  When writing your
     own application, the package name must be changed from "com.example.*"
     to come from a domain that you own or have control over.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    package="com.nononsenseapps.notepad_donate"
    
    android:versionCode="22"
    android:versionName="3.2.1" >

    <!-- App crashes on 3.0. No one uses 3.1. So minimum version is set to 3.2 now -->
    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="15" />

    <!-- For connection -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- For getting Google account -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- For getting Google account auth token -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- For syncing -->
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <!-- Define my permissions for the provider -->
    <permission
        android:name="com.nononsenseapps.notepad.permissions.read"
        android:description="@string/permission_read_desc"
        android:label="@string/permission_read_label"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="normal" />
    <permission
        android:name="com.nononsenseapps.notepad.permissions.write"
        android:description="@string/permission_write_desc"
        android:label="@string/permission_write_label"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="normal" />

    <uses-permission android:name="com.nononsenseapps.notepad.permissions.read" />
    <uses-permission android:name="com.nononsenseapps.notepad.permissions.write" />
    <uses-permission android:name="android.permission.BIND_REMOTEVIEWS" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name" >
        <!--
        Widgets do NOT have read permission, hence the removal of the permission...
        To not get a SecurityException on a Widget, you must have exported=true and not require
        any read permissions.
        -->
        <provider
            android:name="com.nononsenseapps.notepad.NotePadProvider"
            android:authorities="com.nononsenseapps.donate.NotePad"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true"
            android:label="@string/app_name"
            android:syncable="true"
            android:writePermission="com.nononsenseapps.notepad.permissions.write" >
        </provider>
        <!-- removed android:readPermission="com.nononsenseapps.notepad.permissions.read" -->

        <activity
            android:name="com.nononsenseapps.notepad.FragmentLayout"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/ThemeHolo"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--
                 This filter says that we can view or edit the data of
                 a single note
            -->
            <intent-filter android:label="@string/resolve_edit" >
                <action android:name="android.intent.action.INSERT" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.nononsenseapps.note" />
            </intent-filter>
            <intent-filter android:label="@string/resolve_edit" >
                <action android:name="android.intent.action.INSERT" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.nononsenseapps.list" />
            </intent-filter>

            <!--
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
                <data android:mimeType="text/*" android:path="*.txt" />  Would like to be able to open files in future
            </intent-filter>
            -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        
        <activity
            android:name="com.nononsenseapps.notepad.FragmentLayout$NotesEditorActivity" >

            <!--
                 This filter says that we can create a new note inside
                 of a directory of notes.  The INSERT action creates an
                 empty note; the PASTE action initializes a new note from
                 the current contents of the clipboard.
            -->
            <!--
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <action android:name="android.intent.action.PASTE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.nononsenseapps.note" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.nononsenseapps.notepad.prefs.PrefsActivity"
            android:theme="@style/ThemeHolo" >
            <intent-filter>
                <category android:name="android.intent.category.PREFERENCE" >
                </category>

                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.settings.SETTINGS" />
            </intent-filter>
        </activity>

        <service
            android:name="com.nononsenseapps.notepad.sync.SyncService"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <!-- List Widget -->
        <receiver android:name=".widget.ListWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/listwidgetinfo" />
        </receiver>

        <service
            android:name="com.nononsenseapps.notepad.widget.ListWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity android:name="com.nononsenseapps.notepad.widget.ListWidgetConfigure" android:theme="@style/ThemeHolo">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>

</manifest>
