<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2012 Jonas Kalderstam

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<!--
     Declare the contents of this Android application.  The namespace
     attribute brings in the Android platform namespace, and the package
     supplies a unique name for the application.  When writing your
     own application, the package name must be changed from "com.example.*"
     to come from a domain that you own or have control over.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nononsenseapps.notepad"
    android:installLocation="internalOnly"
    android:versionCode="47"
    android:versionName="4.4" >

    <!-- App crashes on 3.0. No one uses 3.1. So minimum version is set to 3.2 now -->
    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="17" />

    <!-- For connection -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- For getting Google account -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- For getting Google account auth token -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- For syncing -->
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <!-- For notifications -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Define my permissions for the provider -->
    <permission
        android:name="com.nononsenseapps.notepad.permissions.read"
        android:description="@string/permission_read_desc"
        android:label="@string/permission_read_label"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="normal" />
    <permission
        android:name="com.nononsenseapps.notepad.permissions.write"
        android:description="@string/permission_write_desc"
        android:label="@string/permission_write_label"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="normal" />

    <uses-permission android:name="com.nononsenseapps.notepad.permissions.read" />
    <uses-permission android:name="com.nononsenseapps.notepad.permissions.write" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name" >

        <!--
        Widgets do NOT have read permission, hence the removal of the permission...
        To not get a SecurityException on a Widget, you must have exported=true and not require
        any read permissions.
        -->
        <provider
            android:name="com.nononsenseapps.notepad.NotePadProvider"
            android:authorities="com.nononsenseapps.NotePad"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true"
            android:label="@string/app_name"
            android:syncable="true"
            android:writePermission="com.nononsenseapps.notepad.permissions.write" >
        </provider>
        <!-- removed android:readPermission="com.nononsenseapps.notepad.permissions.read" -->


        <!-- Broadcast receiver for accepting actions from widget for example -->
        <receiver
            android:name="com.nononsenseapps.notepad.NotePadBroadcastReceiver"
            tools:ignore="ExportedReceiver" >
            <intent-filter>
                <action android:name="com.nononsenseapps.completenote" />
            </intent-filter>
        </receiver>

        <!-- Main program -->
        <activity
            android:name="com.nononsenseapps.notepad.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/ThemeHolo"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.nononsenseapps.notepad.RightActivity"
            android:theme="@style/ThemeHolo"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="ExportedActivity" >
            <intent-filter android:label="@string/resolve_edit" >
                <action android:name="android.intent.action.INSERT" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="com.nononsenseapps.completenote" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.nononsenseapps.note" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
                <!-- <data android:mimeType="text/*" android:path="*.txt" />  Would like to be able to open files in future -->
            </intent-filter>
        </activity>
        <activity
            android:name="com.nononsenseapps.notepad.prefs.PrefsActivity"
            android:theme="@style/ThemeHolo"
            tools:ignore="ExportedActivity" >
            <intent-filter>
                <category android:name="android.intent.category.PREFERENCE" >
                </category>

                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.settings.SETTINGS" />
            </intent-filter>
        </activity>

        <service
            android:name="com.nononsenseapps.notepad.sync.SyncService"
            android:exported="true"
            tools:ignore="ExportedService" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <!-- List Widget -->
        <receiver android:name="com.nononsenseapps.notepad.widget.ListWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/listwidgetinfo" />
        </receiver>

        <service
            android:name="com.nononsenseapps.notepad.widget.ListWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name="com.nononsenseapps.notepad.widget.ListWidgetConfig"
            android:theme="@style/ThemeHolo"
            tools:ignore="ExportedActivity" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nononsenseapps.notepad.ShortcutConfig"
            tools:ignore="ExportedActivity" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.nononsenseapps.helpers.SyncDelay"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.RUN" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.nononsenseapps.helpers.NotificationHelper"
            android:exported="true"
            tools:ignore="ExportedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.RUN" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DELETE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.nononsenseapps.notification" />
            </intent-filter>
        </receiver>
    </application>

</manifest>