<?xml version="1.0" encoding="utf-8"?><!--
  Copyright (c) 2015 Jonas Kalderstam.

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
--><!--
     Declare the contents of this Android application.  The namespace
     attribute brings in the Android platform namespace, and the package
     supplies a unique name for the application.  When writing your
     own application, the package name must be changed from "com.example.*"
     to come from a domain that you own or have control over.
--><!-- Note that versionCode and versionName are overwritten in build.gradle -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nononsenseapps.notepad"
    android:installLocation="auto">

    <!-- For connection -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- For syncing -->
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <!-- Reading/Writing sync files to SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- For notifications -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- For getting Google account -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- For getting Google account auth token -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- Define my permissions for the provider -->
    <!--<permission
        android:name="com.nononsenseapps.notepad.permissions.read"
        android:description="@string/permission_read_desc"
        android:label="@string/permission_read_label"
        android:permissionGroup="android.permission-group.PERSONAL_INFO" />
    <permission
        android:name="com.nononsenseapps.notepad.permissions.write"
        android:description="@string/permission_write_desc"
        android:label="@string/permission_write_label"
        android:permissionGroup="android.permission-group.PERSONAL_INFO" />

    <uses-permission android:name="com.nononsenseapps.notepad.permissions.read" />
    <uses-permission android:name="com.nononsenseapps.notepad.permissions.write" />
-->
    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:restoreAnyVersion="true"
        android:theme="@style/AppBaseTheme"
        tools:replace="icon">

        <!-- Main Activity -->
        <activity
            android:name=".activity.ActivityMain"
            android:icon="@drawable/app_icon"
            android:label="@string/app_name"
            android:theme="@style/AppBaseTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.TestingProvider"
            android:label="A Test Provider"
            android:authorities="com.nononsenseapps.notepad.TESTPROVIDER"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.nononsenseapps.notepad.PROVIDER" />
            </intent-filter>
        </provider>
    </application>

</manifest>
