<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2015 Jonas Kalderstam.

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!--
     Declare the contents of this Android application. The namespace
     attribute brings in the Android platform namespace
-->
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	android:installLocation="internalOnly">

	<!-- TODO these permissions are useless as of now: we don't have a synchronization
	      method that uses these. -->

	<!-- for ContentResolver.getIsSyncable -->
	<uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
	<!-- for ContentResolver.isSyncActive -->
	<uses-permission android:name="android.permission.READ_SYNC_STATS"/>
	<!-- for ContentResolver.setIsSyncable -->
	<uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>

	<!-- We don't need Write permission for the filesystem:
		* /storage/emulated/0/Android/data/packagename/ is always accessible to us
	 	* Json backups are saved with methods that don't require write permission
	 	See https://developer.android.com/training/data-storage
	-->

	<!-- For notifications -->
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
	<uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

	<application
		android:name="com.nononsenseapps.notepad.NnnApp"
		android:allowBackup="true"
		android:hardwareAccelerated="true"
		android:icon="@drawable/app_icon"
		android:label="@string/nononsense_notes"
		android:restoreAnyVersion="true">

		<!-- If you need more fine-grained control on what can be backed up, visit
		https://developer.android.com/guide/topics/data/autobackup#IncludingFiles
		but the default behavior already backs up the database, shared preferences
		and org files to google drive, for users that choose to do it, and files
		are automatically encrypted, so there is nothing more you need to do -->

		<!-- Broadcast receiver for accepting actions from widget for example -->
		<receiver
			android:name="com.nononsenseapps.notepad.NotePadBroadcastReceiver"
			android:enabled="true"
			android:exported="true"
			tools:ignore="ExportedReceiver">
			<intent-filter>
				<action android:name="com.nononsenseapps.SetNoteComplete"/>
				<action android:name="com.nononsenseapps.SetNoteIncomplete"/>
			</intent-filter>
		</receiver>

		<!-- Main Activity -->
		<activity
			android:name="com.nononsenseapps.notepad.activities.main.ActivityMain_"
			android:exported="true"
			android:label="@string/app_name_short"
			android:theme="@style/ThemeNnnLight"
			android:windowSoftInputMode="adjustResize">
			<meta-data
				android:name="android.app.default_searchable"
				android:value="com.nononsenseapps.notepad.ActivitySearch"/>

			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
			<intent-filter
				android:label="@string/resolve_edit"
				tools:ignore="AppLinkUrlError">
				<action android:name="android.intent.action.VIEW"/>
				<action android:name="android.intent.action.EDIT"/>

				<category android:name="android.intent.category.DEFAULT"/>

				<data android:mimeType="vnd.android.cursor.item/vnd.nononsenseapps.list"/>
			</intent-filter>
			<intent-filter
				android:label="@string/resolve_edit"
				tools:ignore="AppLinkUrlError">
				<action android:name="android.intent.action.INSERT"/>
				<action android:name="android.intent.action.VIEW"/>
				<action android:name="android.intent.action.EDIT"/>
				<action android:name="com.nononsenseapps.completenote"/>

				<category android:name="android.intent.category.DEFAULT"/>

				<data android:mimeType="vnd.android.cursor.item/vnd.nononsenseapps.note"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEND"/>
				<!-- Voice command "note to self" in google search -->
				<action android:name="com.google.android.gm.action.AUTO_SEND"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="text/*"/>
				<!-- <data android:mimeType="text/*" android:path="*.txt" />  Would like to be able to open files in future -->
			</intent-filter>
		</activity>

		<!-- Search activity -->
		<activity
			android:name="com.nononsenseapps.notepad.activities.ActivitySearch"
			android:exported="true"
			android:label="@string/search_hint"
			android:launchMode="singleTop"
			android:theme="@style/ThemeNnnLight">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH"/>
			</intent-filter>

			<meta-data
				android:name="android.app.searchable"
				android:resource="@xml/searchable"/>
		</activity>

		<!-- Deleted tasks activity -->
		<activity
			android:name="com.nononsenseapps.notepad.activities.ActivitySearchDeleted"
			android:exported="true"
			android:label="@string/archive"
			android:launchMode="singleTop"
			android:theme="@style/ThemeNnnLight">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH"/>
			</intent-filter>

			<meta-data
				android:name="android.app.searchable"
				android:resource="@xml/searchabledeleted"/>
		</activity>

		<activity
			android:name="com.nononsenseapps.notepad.prefs.PrefsActivity"
			android:exported="true"
			android:label="@string/menu_preferences"
			android:parentActivityName="com.nononsenseapps.notepad.activities.main.ActivityMain_"
			android:theme="@style/ThemeBaseDark">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.nononsenseapps.notepad.activities.main.ActivityMain_"/>

			<intent-filter>
				<category android:name="android.intent.category.PREFERENCE"/>

				<action android:name="android.intent.action.MAIN"/>
				<action android:name="android.intent.action.EDIT"/>
				<action android:name="android.intent.action.VIEW"/>
				<action android:name="android.settings.SETTINGS"/>
			</intent-filter>
		</activity>

		<!-- List Widget -->
		<receiver
			android:name="com.nononsenseapps.notepad.widget.list.ListWidgetProvider"
			android:exported="true">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/listwidgetinfo"/>
		</receiver>

		<service
			android:name="com.nononsenseapps.notepad.widget.list.ListWidgetService"
			android:exported="false"
			android:permission="android.permission.BIND_REMOTEVIEWS"/>

		<activity
			android:name="com.nononsenseapps.notepad.widget.list.ListWidgetConfig"
			android:exported="true"
			android:theme="@style/ThemeWidgetConfig">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
			</intent-filter>
		</activity>

		<activity
			android:name="com.nononsenseapps.notepad.widget.shortcut.ShortcutConfig"
			android:exported="true"
			android:label="@string/notes_shortcut"
			android:theme="@style/ThemeNnnLight">
			<intent-filter>
				<action android:name="android.intent.action.CREATE_SHORTCUT"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>

		<!-- Handles notifications associated with notes -->
		<receiver
			android:name="com.nononsenseapps.helpers.NotificationHelper"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
				<action android:name="android.intent.action.RUN"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.DELETE"/>
				<action android:name="com.nononsenseapps.notepad.ACTION.COMPLETE"/>
				<action android:name="com.nononsenseapps.notepad.ACTION.SNOOZE"/>
				<action android:name="com.nononsenseapps.notepad.ACTION.RESCHEDULE"/>

				<category android:name="android.intent.category.DEFAULT"/>

				<data android:mimeType="vnd.android.cursor.item/vnd.nononsenseapps.notification"/>
			</intent-filter>
		</receiver>

		<!-- Dashclock -->
		<service
			android:name="com.nononsenseapps.notepad.dashclock.TasksExtension"
			android:exported="true"
			android:icon="@drawable/ic_stat_notification_edit"
			android:label="@string/dashclock_nononsense_notes"
			android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
			<intent-filter>
				<action android:name="com.google.android.apps.dashclock.Extension"/>
			</intent-filter>

			<meta-data
				android:name="protocolVersion"
				android:value="1"/>
			<meta-data
				android:name="description"
				android:value="Displays your tasks from NoNonsense Notes."/>
			<meta-data
				android:name="settingsActivity"
				android:value="com.nononsenseapps.notepad.dashclock.DashclockPrefActivity"/>
		</service>

		<activity
			android:name="com.nononsenseapps.notepad.dashclock.DashclockPrefActivity"
			android:exported="true"
			android:label="@string/dashclock_title_activity_tasks_settings"
			android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA"
			android:theme="@style/DashClockSettings.Theme"/>

		<!-- DataBase provider -->
		<!-- "${applicationId}" gives a different ID to the fdroid and play store versions,
		 so that they can be both installed simultaneously -->
		<provider
			android:name="com.nononsenseapps.notepad.database.MyContentProvider"
			android:authorities="${applicationId}.MyAuthority"
			android:enabled="true"
			android:exported="true"
			android:grantUriPermissions="true"/>

		<!-- Time Machine -->
		<activity
			android:name="com.nononsenseapps.notepad.activities.ActivityTaskHistory"
			android:label="@string/timemachine"/>

		<!-- Receiver that schedules background sync for File -->
		<receiver
			android:name="com.nononsenseapps.notepad.sync.orgsync.BackgroundSyncScheduler"
			android:enabled="true"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
				<action android:name="android.intent.action.RUN"/>
			</intent-filter>
		</receiver>

		<!-- Service that syncs with files -->
		<service
			android:name="com.nononsenseapps.notepad.sync.orgsync.OrgSyncService"
			android:enabled="true"
			android:exported="false"
			android:label="File Watcher"/>

		<!-- A couple of providers -->

		<provider
			android:name=".android.provider.TextFileProvider"
			android:authorities="${applicationId}.TESTPROVIDER"
			android:enabled="true"
			android:exported="true"
			android:icon="@drawable/ic_sd_storage_24dp"
			android:label="SD-card files">
			<intent-filter>
				<action android:name="com.nononsenseapps.notepad.PROVIDER"/>
			</intent-filter>
			<!-- Required, only one possible value atm -->
			<meta-data
				android:name="protocolVersion"
				android:value="1"/>
			<!-- Optional, if absent assumed to be false -->
			<meta-data
				android:name="requiresConfig"
				android:value="false"/>
			<!-- Semi-Optional. If requiresConfig is true, this is mandatory. -->
			<!--<meta-data android:name="settingsActivity"
				android:value=".ExampleSettingsActivity" />-->
			<!-- Optional, specifies behavior of "+"-button in root view.
				 Possible values: containers, items, containersAndItems, nestableItems-->
			<!-- <meta-data android:name="fabBehaviorRoot" android:value="containersAndItems" /> -->
			<!-- Optional, same values as root, but specifies behavior anywhere.
				 Root-value takes precedence at root-level, otherwise this value is used. -->
			<meta-data
				android:name="fabBehavior"
				android:value="containersAndItems"/>
		</provider>

		<!-- TODO useless ? -->

		<provider
			android:name=".android.provider.DummyProvider"
			android:authorities="com.nononsenseapps.notepad.DUMMYPROVIDER"
			android:enabled="true"
			android:exported="true"
			android:icon="@drawable/app_icon"
			android:label="Dummy items">
			<intent-filter>
				<action android:name="com.nononsenseapps.notepad.PROVIDER"/>
			</intent-filter>
			<!-- Required, only one possible value atm -->
			<meta-data
				android:name="protocolVersion"
				android:value="1"/>
			<!-- Optional, if absent assumed to be false -->
			<meta-data
				android:name="requiresConfig"
				android:value="false"/>
			<!-- Semi-Optional. If requiresConfig is true, this is mandatory. -->
			<!--<meta-data android:name="settingsActivity"
				android:value=".ExampleSettingsActivity" />-->
			<!-- Optional, specifies behavior of "+"-button in root view.
				 Possible values: containers, items, containersAndItems,nestableItems-->
			<meta-data
				android:name="fabBehaviorRoot"
				android:value="nestableItems"/>
			<!-- Optional, same values as root, but specifies behavior anywhere.
				 Root-value takes precedence at root-level, otherwise this value is used. -->
			<meta-data
				android:name="fabBehavior"
				android:value="nestableItems"/>
		</provider>

	</application>
</manifest>
