<?xml version="1.0" encoding="utf-8"?><!--
  Copyright (c) 2015 Jonas Kalderstam.

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->


<!--
     Declare the contents of this Android application.  The namespace
     attribute brings in the Android platform namespace, and the package
     supplies a unique name for the application.  When writing your
     own application, the package name must be changed from "com.example.*"
     to come from a domain that you own or have control over.
--><!-- Note that versionCode and versionName are overwritten in build.gradle -->
<manifest
    package="com.nononsenseapps.notepad"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly">

    <!-- For connection -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- For syncing -->
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <!-- Writing sync files to SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- For notifications -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- For getting Google account -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- For getting Google account auth token -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- Define my permissions for the provider -->
    <permission
        android:name="com.nononsenseapps.notepad.permissions.read"
        android:description="@string/permission_read_desc"
        android:label="@string/permission_read_label"
        android:permissionGroup="android.permission-group.PERSONAL_INFO" />
    <permission
        android:name="com.nononsenseapps.notepad.permissions.write"
        android:description="@string/permission_write_desc"
        android:label="@string/permission_write_label"
        android:permissionGroup="android.permission-group.PERSONAL_INFO" />

    <uses-permission android:name="com.nononsenseapps.notepad.permissions.read" />
    <uses-permission android:name="com.nononsenseapps.notepad.permissions.write" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:restoreAnyVersion="true"
        tools:replace="icon">

        <!-- Broadcast receiver for accepting actions from widget for example -->
        <receiver
            android:name="com.nononsenseapps.notepad.data.receiver.NotePadBroadcastReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.nononsenseapps.completenote" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.nononsenseapps.notepad.ui.list.ActivityList"
            android:label="@string/app_name"
            android:theme="@style/LightTheme"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.nononsenseapps.notepad.ActivitySearch_" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/resolve_edit">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.nononsenseapps.list" />
            </intent-filter>
            <intent-filter android:label="@string/resolve_edit">
                <action android:name="android.intent.action.INSERT" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="com.nononsenseapps.completenote" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.nononsenseapps.note" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <!-- Voice command "note to self" in google search -->
                <action android:name="com.google.android.gm.action.AUTO_SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>

        <!-- Editor -->
        <activity
            android:name="com.nononsenseapps.notepad.ui.editor.ActivityEditor"
            android:label=""
            android:theme="@style/LightTheme.DialogWhenLarge"
            android:windowSoftInputMode="adjustResize"/>

        <!-- Search activity -->
        <activity
            android:name="com.nononsenseapps.notepad.ActivitySearch_"
            android:label="@string/search_hint"
            android:launchMode="singleTop"
            android:theme="@style/ThemeHoloLightDarkActonBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <!-- Deleted tasks activity -->
        <activity
            android:name="com.nononsenseapps.notepad.ActivitySearchDeleted_"
            android:label="@string/archive"
            android:launchMode="singleTop"
            android:theme="@style/ThemeHoloLightDarkActonBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchabledeleted" />
        </activity>

        <activity
            android:name="com.nononsenseapps.notepad.ui.settings.PrefsActivity"
            android:parentActivityName="com.nononsenseapps.notepad.ui.list.ActivityList"
            android:theme="@style/LightTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nononsenseapps.notepad.ui.list.ActivityList"/>

            <intent-filter>
                <category android:name="android.intent.category.PREFERENCE"/>

                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.settings.SETTINGS" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nononsenseapps.notepad.ui.settings.ActivitySettings"
            android:label="@string/menu_preferences"
            android:parentActivityName="com.nononsenseapps.notepad.ui.list.ActivityList"
            android:theme="@style/LightTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nononsenseapps.notepad.ui.list.ActivityList"/>

            <intent-filter>
                <category android:name="android.intent.category.PREFERENCE"/>

                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.EDIT"/>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.settings.SETTINGS"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/FilePickerTheme"/>

        <service
            android:name="com.nononsenseapps.notepad.data.service.gtasks.SyncService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <!-- List Widget -->
        <receiver android:name="com.nononsenseapps.notepad.ui.widget.ListWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/listwidgetinfo" />
        </receiver>

        <service
            android:name="com.nononsenseapps.notepad.ui.widget.ListWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name="com.nononsenseapps.notepad.widget.ListWidgetConfig_"
            android:theme="@style/ThemeWidgetConfig"
            tools:ignore="ExportedActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service
            android:name=".data.service.gtasks.GTasksSyncDelay"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />
            </intent-filter>
        </service>

        <!-- Handles notifications associated with notes -->
        <receiver
            android:name=".data.receiver.NotificationHelper"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.RUN" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DELETE" />
                <action android:name="com.nononsenseapps.notepad.ACTION.COMPLETE" />
                <action android:name="com.nononsenseapps.notepad.ACTION.SNOOZE" />
                <action android:name="com.nononsenseapps.notepad.ACTION.RESCHEDULE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.nononsenseapps.notification" />
            </intent-filter>
        </receiver>

        <!-- Dashclock -->
        <service
            android:name="com.nononsenseapps.notepad.ui.dashclock.TasksExtension"
            android:icon="@drawable/ic_stat_notification_edit"
            android:label="@string/dashclock_nononsense_notes"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="1" />
            <meta-data
                android:name="description"
                android:value="Displays your tasks from NoNonsense Notes." />
            <meta-data
                android:name="settingsActivity"
                android:value="com.nononsenseapps.notepad.dashclock.TasksSettings" />
        </service>

        <activity
            android:name="com.nononsenseapps.notepad.ui.dashclock.TasksSettings"
            android:exported="true"
            android:label="@string/dashclock_title_activity_tasks_settings"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA"
            android:theme="@style/DashClockSettings.Theme"></activity>

        <!-- DataBase provider -->
        <provider
            android:name="com.nononsenseapps.notepad.data.local.sql.MyContentProvider"
            android:authorities="com.nononsenseapps.NotePad"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true"></provider>

        <!-- Receiver that schedules background sync for File and Dropbox -->
        <receiver
            android:name="com.nononsenseapps.notepad.data.receiver.BackgroundSyncScheduler"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.RUN" />
            </intent-filter>
        </receiver>
        <!-- Service that syncs with files -->
        <service
            android:name="com.nononsenseapps.notepad.data.service.OrgSyncService"
            android:enabled="true"
            android:exported="false"
            android:label="File Watcher"></service>
    </application>

</manifest>
