<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2015 Jonas Kalderstam.

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <!-- Dropbox stuff -->
        <activity
            android:name="com.nononsenseapps.notepad.ui.orgmodedropbox.DropboxFilePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/FilePickerTheme">
        </activity>

        <!-- Dropbox -->
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboard" >
            <intent-filter>
                <data android:scheme="db-yt0azqlcrdl2u22" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
