<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2015 Jonas Kalderstam.

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->


<!--
     Declare the contents of this Android application.  The namespace
     attribute brings in the Android platform namespace, and the package
     supplies a unique name for the application.  When writing your
     own application, the package name must be changed from "com.example.*"
     to come from a domain that you own or have control over.
-->
<!-- Note that versionCode and versionName are overwritten in build.gradle -->
<manifest
    package="com.nononsenseapps.notepad"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="internalOnly" >

    <!-- Dropbox needs this -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>

        <!-- Dropbox stuff -->
        <activity
            android:name="com.nononsenseapps.filepicker.DropboxFilePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/FilePicker.Theme">
        </activity>

        <!-- Dropbox -->
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboard" >
            <intent-filter>
                <data android:scheme="db-yt0azqlcrdl2u22" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
